.orders-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .orders-table th,
  .orders-table td {
    border: 1px solid #dddddd;
    padding: 8px;
  }
  
  .orders-table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  .orders-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .orders-table tr:hover {
    background-color: #ddd;
  }
  
  .item-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  