* {
    padding: 0;
    margin: 0;
  }
  
  .filters {
    background-color: aqua;
    border-radius: 50px;
    position: fixed;
    top: 15vw;
    left: 5vw;
    width: 25vw;
    height: auto;
  }

  li{
    margin-left: 50px;
    padding: 5px;
    list-style: none;
  }
  
  /* Add media queries for different screen sizes */
  @media screen and (max-width: 768px) {
    .filters {
      top: 10vw;
      left: 5vw;
      width: 90vw;
    }
  }
  
  @media screen and (max-width: 480px) {
    .filters {
      top: 20vw;
      left: 3vw;
      width: 20vw;
    }
  }